In [1]:
set1={1,2,3,4,10,5}

In [2]:
max(set1)

10

In [3]:
min(set1)

1

In [4]:
sum(set1)

25

In [5]:
sorted(set1,reverse=True)

[10, 5, 4, 3, 2, 1]

### Dictionaries

In [6]:
dict1= {'name':'ajay','age':22}

In [7]:
dict1

{'name': 'ajay', 'age': 22}

In [8]:
dict1.keys()

dict_keys(['name', 'age'])

In [9]:
dict1.values()

dict_values(['ajay', 22])

In [10]:
dict1['location']='mumbai'

In [11]:
dict1

{'name': 'ajay', 'age': 22, 'location': 'mumbai'}

In [12]:
dict2= {'name': ['ajay','sanjay','ravi','raheem'],'age':[22,33,21,44],'location':['chennai','mumbai','calcutta','bengaluru']}

In [13]:
dict2

{'name': ['ajay', 'sanjay', 'ravi', 'raheem'],
 'age': [22, 33, 21, 44],
 'location': ['chennai', 'mumbai', 'calcutta', 'bengaluru']}

In [14]:
dict2.keys()

dict_keys(['name', 'age', 'location'])

In [15]:
dict2.values()

dict_values([['ajay', 'sanjay', 'ravi', 'raheem'], [22, 33, 21, 44], ['chennai', 'mumbai', 'calcutta', 'bengaluru']])

In [16]:
dict2['location'][2][0]

'c'

In [17]:
dict2['gender']=['male','male','male','female']

In [18]:
dict2

{'name': ['ajay', 'sanjay', 'ravi', 'raheem'],
 'age': [22, 33, 21, 44],
 'location': ['chennai', 'mumbai', 'calcutta', 'bengaluru'],
 'gender': ['male', 'male', 'male', 'female']}

In [19]:
dict2.clear()

In [20]:
del dict2

In [21]:
dict2

NameError: name 'dict2' is not defined

In [ ]:
dict2= {'name': ['ajay','sanjay','ravi','raheem'],'age':[22,33,21,44],'location':['chennai','mumbai','calcutta','bengaluru']}

In [ ]:
dict2

In [ ]:
dict2.get('name')

In [ ]:
dict2.items()

In [ ]:
dict3=dict2.copy()

In [ ]:
dict3

In [ ]:
dict2.pop('location')

In [ ]:
dict2

In [ ]:
dict2.popitem()

In [ ]:
dict3

In [ ]:
dict2['names1']=['ram','sam','sameer','samuel','ss']

In [ ]:
dict3.update(dict2)

In [ ]:
dict3.pop('names1')

In [ ]:
dict3

In [ ]:
from collections import defaultdict

In [ ]:
dict1= defaultdict(list)

In [ ]:
dict1['names']

## input functions

In [ ]:
var= input('Enter the name:')
print('The name is',var.capitalize())

In [ ]:
# addition of two numbers
num1= float(input('Enter the first number'))
num2= float(input('Enter the second number'))
sum= num1 + num2
print('The summation is',sum)

In [ ]:
# Area of a circle
import math

In [ ]:
radius= float(input('Enter the radius'))
Area = math.pi *radius**2
print('The area of circle is:',Area)

## conditional and looping

In [ ]:
range(1,10)

### for loop

In [ ]:
for i in [1,2,3]:
    print(i)

In [ ]:
a=[1,2,3,4,5]

In [ ]:
for i in a:
    print(i)

In [ ]:
for  i in range(1,10,2):
    print(i)

In [ ]:
a

In [ ]:
list1= ['1','2','3']

In [ ]:
list2=[int(s) for s in list1]

In [ ]:
list2

In [ ]:
for i in range(len(a)):
    print(a[i],i)

In [2]:
list1=[]

In [3]:
# accessing list using for loop
n= int(input('Enter the count'))
for i in range(0,n):
    values=int(input())
    list1.append(values)
print(list1)

Enter the count4
1
2
3
4
[1, 2, 3, 4]

In [ ]:
list1

In [ ]:
list1*2

In [ ]:
[i+2 for i in list1]

## while loop

In [23]:
n=5
i=1
sum=0
while(i<n):
    sum= sum+i
    print(sum)
    i= i+1
print('The total sum is:',sum)

1
3
6
10
The total sum is: 10

In [24]:
counter=0
while(counter<10):
    print('counter is in loop')
    counter= counter+1
else:
    print('counter is out of the loop')

counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is in loop
counter is out of the loop